@import "../../styles/global.scss";

.big-card {
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 4px;
  padding: 8px;
  .photo {
    align-self: center;
  }
}
