@import "../../styles/global.scss";

.big-card {
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 20px;
  .photo {
    align-self: center;
  }
}

@media only screen and (min-width: 768px) {
  .big-card {
    margin-top: 20px;
  }
}
