@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,700,900&display=swap");

$blue: #2364aa;
$green: #226b00;
$greenOne: #a8df8f;
$orange: #ea7317;
$red: #980000;
$white: #ffffff;
$whiteOne: #dfdfdf;
$yellow: #d7cf07;

html {
  background-color: $whiteOne;
  font-family: "Raleway", sans-serif;
}

// Fix de color en texto seleccionado
::selection {
  background-color: $greenOne;
}

// Fix de border con tab
:focus {
  outline-color: $green;
  outline-offset: 2px;
  outline-width: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 32px 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

// Fix margin fantasma
img {
  display: block;
}

.main {
  padding: 8px 8px 40px 8px;
}

@media only screen and (min-width: 768px) {
  .main {
    max-width: 960px;
    margin: 0 auto;
  }
  .big-card {
    padding: 16px;
  }
}
