@import "./global.scss";

.receta {
  .title {
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 700;
  }
  .photo {
    margin-bottom: 32px;
    overflow: hidden;
    max-width: 600px;
    max-height: 400px;
  }
  .history,
  .ingredients,
  .preparation {
    margin-bottom: 32px;
  }
}
