@import "../../styles/global.scss";

.header {
  background-color: $white;
  border-bottom: 1px solid $green;
  padding: 16px 8px;
  .nav {
    display: flex;
    justify-content: space-between;
    .logo {
      color: $green;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
    .menu {
      font-weight: 700;
    }
  }
}
