@import "../../styles/global.scss";

.footer {
  align-items: center;
  background-color: $white;
  border-top: 1px solid $green;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  .mobile {
    align-items: center;
    display: flex;
    font-weight: 700;
    height: 40px;
    justify-content: left;
    .option {
      margin: 0 8px;
    }
  }
}
